:root {
  --switch-notes: flex;
  --switch-add: none;
  --margin-view: 0;
  --mob-view-note: none;
  --search-bar-icon: none;
  --cross-icon: inline;
}
/****************
****CSS RESET****
*****************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  line-height: 1.7;
}
/****************
***END CSS RESET**
******************/
/****************
***GLOBAL ELEMENTS**
******************/

.app {
  display: flex;
  height: 100vh;
}

.section {
  width: 100%;
  display: flex;
  position: relative;
}

.container {
  margin: auto;
  width: 60rem;
}

.header-search-icon {
  display: none;
}

.header-search-checkbox {
  display: none;
}

.burger-menu__checkbox {
  display: none;
}

/****************
**SWITCH SECTIONS**
******************/

.notes {
  display: var(--switch-notes);
  gap: 10rem;
}

.add-note {
  display: var(--switch-add);
}

html:has(.switch-section) {
  --switch-notes: none;
  --switch-add: inline;
}

html:has(.archive-close) {
  --margin-view: 12rem;
}

html:has(.archive-close) .arrow-icon {
  left: -1.2rem;
  top: 13.5rem;
  transform: rotate(180deg);
}

.bg-select-search {
  background-color: yellow;
  border-radius: 0.8rem;
}

/****************
****NAVIGATION****
******************/
.nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 26rem;
  background-color: #f6f6f6;
}

.nav-content {
  width: 19rem;
}

.main-heading {
  font-size: 1.4rem;
  font-family: "Aclonica", sans-serif;
  color: #ec7160;
  margin-left: 1.6rem;
  margin-top: 4rem;
  margin-bottom: 5.6rem;
}

.input-search {
  font-size: 1.4rem;
  color: #303030;
  border: none;
  border-radius: 0.7rem;
  padding-left: 30px;
  background: url(images/search-icon.png) no-repeat scroll 7px 7px;
  background-color: #fff;
  width: 100%;
  height: 3.4rem;
  margin-bottom: 3.6rem;
}

.input-search:focus {
  outline: none;
}

.input-search::placeholder {
  font-size: 1.4rem;
  color: #898989;
}

.nav-links {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.nav-btn {
  font-size: 1.6rem;
  font-weight: 400;
  color: #898989;
  padding-left: 0.6rem;
}

.notes-btn {
  color: #303030;
  border-left: 3px solid #ec7160;
  padding-left: 0.6rem;
}

html:has(.switch-section) .notes-btn {
  color: #898989;
  border-left: 0px solid #ec7160;
  padding-left: 0.6rem;
}

html:has(.switch-section) .add-btn {
  color: #303030;
  border-left: 3px solid #ec7160;
  padding-left: 0.6rem;
}

/****************
**SECTION NOTES**
******************/
.notes-container {
  margin: auto 0;
}

.archive-notes {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 32.2rem;
  border-left: 1px solid #e7e7e9;
  border-right: 1px solid #e7e7e9;
  padding-top: 4.8rem;
  overflow-y: auto;
  height: 100vh;
}

.archive-close {
  position: absolute;
  top: 0;
  left: 0;
  width: 32.2rem;
  height: 100vh;
  transform: translateX(-100%);
  transition: all 0.5s ease-in;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.arrow-icon {
  padding: 1.1rem;
  border-radius: 50%;
  border: 1px solid #e7e7e9;
  background-color: #fff;
  transition: all 0.5s;
  position: absolute;
  left: 30.7rem;
  top: 13.5rem;
  cursor: pointer;
}

.pinned-list {
  width: 93%;
}

.pinned-item {
  padding: 0.6rem 1.6rem;
  margin-bottom: 3rem;
}

.pinned-item:hover {
  border-radius: 0.8rem;
  background-color: #f6f6f6;
  cursor: pointer;
}

.pinned-heading {
  font-size: 1.3rem;
  font-weight: 400;
  color: #ec7160;
  width: 100%;
  text-align: left;
  padding-left: 3rem;
  margin-bottom: 1.6rem;
}

.note-box {
  height: 7.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note-title {
  font-size: 1.6rem;
  font-weight: 400;
  color: #303030;
}

.note-text {
  font-size: 1.3rem;
  color: #898989;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 3rem;
}

.note-date {
  font-size: 1.3rem;
  color: #898989;
}

.note-author {
  font-size: 1.3rem;
  color: #898989;
}

.delete-pinned-btn {
  font-size: 1.3rem;
  font-weight: 400;
  color: #ee2409;
}

.delete-pinned-btn:hover {
  padding: 0.2rem 0.3rem;
  background-color: #ee2409;
  color: #fff;
  border-radius: 0.5rem;
}

.delete-note-btn {
  font-size: 1.3rem;
  font-weight: 400;
  color: #ee2409;
}

.delete-note-btn:hover {
  padding: 0.2rem 0.3rem;
  background-color: #ee2409;
  color: #fff;
  border-radius: 0.5rem;
}

.notes-list {
  width: 93%;
}

.note-heading {
  font-size: 1.3rem;
  font-weight: 400;
  color: #ec7160;
  margin-bottom: 1.6rem;
  border-top: 1px solid #e7e7e9;
  border-bottom: 1px solid #e7e7e9;
  width: 100%;
  text-align: left;
  padding: 0.6rem 3rem;
}

.note-item {
  padding: 0.6rem 1.6rem;
  margin-bottom: 3rem;
}

.note-item:hover {
  border-radius: 0.8rem;
  background-color: #f6f6f6;
  cursor: pointer;
}

/*View Notes*/
.view-notes {
  align-self: center;
  width: 60rem;
  margin-left: var(--margin-view);
  margin-right: 3rem;
}

.view-cross {
  padding: 1.1rem;
  border-radius: 50%;
  border: 1px solid #e7e7e9;
  background-color: #fff;
  position: absolute;
  display: none;
}

.view-title {
  font-size: 2.6rem;
  font-weight: 400;
  color: #303030;
}

.view-box {
  margin-bottom: 4rem;
}

.view-date {
  font-size: 1.3rem;
  color: #898989;
}
.view-author {
  font-size: 1.3rem;
  color: #898989;
}
.view-note {
  font-size: 1.6rem;
  color: #303030;
}

.plus-icon {
  position: absolute;
  bottom: 2rem;
  right: 4rem;
  cursor: pointer;
}

.plus-icon:hover {
  filter: brightness(95%);
}

/****************
***SECTION ADDD***
******************/

.add-heading {
  font-size: 2.6rem;
  color: #303030;
  margin-bottom: 3.6rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 1.4rem;
  color: #898989;
}

.input {
  font-size: 1.8rem;
  color: #303030;
  border: none;
  border-radius: 0.7rem;
  background-color: #f6f6f6;
  width: 84%;
  height: 4.5rem;
}

.input:focus {
  outline: none;
}

.input:not(:last-child) {
  margin-bottom: 4rem;
}

.input-note {
  height: 15rem;
  margin-bottom: 4rem;
}

.action-btns {
  display: flex;
  gap: 2.7rem;
  margin-bottom: 2rem;
}

.action-btn {
  font-size: 1.4rem;
  color: #fff;
  padding: 1rem 2.2rem;
  background-color: #ec7160;
  border-radius: 0.5rem;
  transition: all 0.3s;
}

.action-btn:hover {
  background-color: #ec7060da;
}

/****************
****RESPONSIVE***
******************/
@media (max-width: 1200px) {
  .notes {
    gap: 5rem;
  }

  .view-notes {
    margin-top: 10rem;
    width: 40rem;
    height: 80vh;
    overflow-y: auto;
  }
}

@media (max-width: 1000px) {
  .notes {
    gap: 3rem;
  }

  .view-notes {
    width: 28.8rem;
    margin-right: 1rem;
  }

  .plus-icon {
    display: none;
  }
}

@media (max-width: 830px) {
  .view-notes {
    width: 47%;
  }

  html:has(.archive-close) .view-notes {
    width: 100%;
    margin-right: 3rem;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 0.75rem;
    z-index: 2;
    align-self: center;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  .burger-menu__bar {
    height: 0.1rem;
    width: 2rem;
    background-color: black;
    transition: 0.3s;
  }

  .burger-menu__bar:nth-child(3) {
    width: 1.5rem;
  }

  .app:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(1) {
    transform: translateY(10px) rotate(40deg);
  }

  .app:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }

  .app:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(3) {
    transform: translateY(-7px) rotate(-40deg);
    width: 2rem;
  }

  .app:has(.burger-menu__checkbox:checked) .nav {
    left: 0;
  }

  .nav {
    position: absolute;
    height: 100vh;
    left: -100%;
    background-color: #f6f6f6;
    z-index: 1;
    transition: all 0.5s;
  }

  .archive-notes {
    height: 90vh;
    margin-top: 8rem;
  }

  .nav-links {
    height: 20rem;
    justify-content: center;
    margin-left: -2rem;
  }

  .add-note {
    margin-top: 8rem;
  }

  .heading-box {
    width: 100vw;
    text-align: center;
    position: fixed;
    top: 1rem;
    left: 0;
  }

  .main-heading {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .input-search-box {
    position: fixed;
    top: -20rem;
    left: 0;
    width: 100%;
    height: 12.4rem;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    z-index: -2;
    transition: all 0.5s;
  }

  .input-search {
    width: 50%;
    margin-top: 7rem;
  }

  .header-search-icon {
    display: inline;
    position: absolute;
    top: 1rem;
    right: 1.6rem;
    z-index: 3;
  }

  .search-icon {
    display: var(--cross-icon);
  }

  .cross-icon {
    display: var(--search-bar-icon);
  }

  .app:has(.header-search-checkbox:checked) .input-search-box {
    top: 0;
  }

  html:has(.header-search-checkbox:checked) {
    --search-bar-icon: inline;
    --cross-icon: none;
  }
}

@media (max-width: 650px) {
  .notes {
    gap: 0;
  }

  .input-search {
    width: 80%;
    margin-top: 7rem;
  }

  html:has(.note-checked) .view-cross {
    display: inline;
    top: 6rem;
    left: 24rem;
  }

  .archive-close {
    position: none;
    width: 32.2rem;
    height: 100vh;
    transform: translateX(0);
    transition: all 0.5s ease-in;
    opacity: 1;
    visibility: visible;
    z-index: 0;
  }

  .arrow-icon {
    display: none;
  }

  .archive-notes {
    width: 100vw;
  }

  .view-notes {
    display: var(--mob-view-note);
    width: 80%;
    margin-left: 4rem;
  }

  html:has(.note-checked) {
    --mob-view-note: block;
  }

  html:has(.note-checked) .archive-notes {
    display: none;
  }

  .add-note {
    margin-left: 4rem;
  }
}

@media (max-width: 470px) {
  html:has(.note-checked) .view-cross {
    top: 6rem;
    left: 17rem;
  }
}
